// Colors
$primary: #0075ff;
$primary-light: #1882ff;
$secondary: #f0f7fd;
$secondary-light: #f4faff;
$white: #fff;
$white-smoke: #f6f4f0;
$grey-cloud: #b8b7bb;

// Other
$transition: 0.2s;
$border-radius: 5px;
