@import 'core.scss';

.container {
}

.menu-icon {
  @include size(30px);

  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  width: fit-content;
  height: 100vh;
  background: $milk-white;
  transform: translateX(-100%);
  transition: 0.3s ease-in;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .05);

  &-open {
    transform: translateX(0);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 20px;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 20px;
  background: $milk-white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .05);

  &-content {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 40px;
  }
}

.content {
  position: relative;
  z-index: 10;
  max-width: 1440px;
  margin: 80px auto 0;
}
