@import 'core.scss';

.container {
  @include flex(center, center);

  width: 100vw;
  height: 100vh;
  background: $gradient-primary;
}

.languages {
  position: fixed;
  z-index: 12;
  top: 20px;
  right: 20px;
}

.content {
  width: 25rem;
  padding: 3rem;
  border-radius: $border-radius;
  background: $white;
  box-shadow: $box-shadow
}

.header {
  margin-top: 0.4rem;
  margin-bottom: 2.4rem;
  text-align: center;

  img {
    @include size(10rem);

    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    font-weight: 300;
    color: $light-blue;
  }
}
