@import 'core.scss';

.container {
  @include flex(center, center);

  width: 100vw;
  height: 100vh;
  background: $secondary;
}

.content {
  width: 25rem;
  padding: 3rem;
  border-radius: $border-radius;
  background: $white;
  box-shadow: 0 5px 25px 4px darken($secondary, 5%);
}

.header {
  margin-top: 0.4rem;
  margin-bottom: 2.4rem;
  text-align: center;

  img {
    @include size(10rem);

    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    font-weight: 300;
    color: $primary;
  }
}
