@import 'core.scss';

.container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 1rem;

  &-with-error {
    margin-bottom: 2.6rem;
  }
}

.label {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 10px;
  padding: 0 4px;
  font-size: 1rem;
  color: $grey;
  transition: $transition;
  background: $white;

  &-focused,
  &-has-value {
    top: -0.5rem;
    font-size: 0.9rem;
  }

  &-focused {
    color: $primary-dark;
  }

  &-error {
    color: $red;
  }
}

.input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid $grey;
  border-radius: $border-radius;
  transition: border $transition;

  &-error {
    border: 2px solid $red;
  }

  &:focus {
    border: 2px solid $primary-dark;
  }
}

.error {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
}
